ol
{
	color: blue;
}
ul
{
	text-align: left;
	border: green solid;
	border-radius: 2px,3px;

}
body
{
	background-image: url("Koala_mini.jpg");
	background-repeat:  no-repeat;
	background-position: top;
}
